$fraction: 2/3;

.holder-better {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 35%;
}

.chip-absolute {
	position: absolute;
	bottom: 0; /*-500%;*/
	height: 155px * $fraction;
	width: 155px * $fraction;
}

.chip-absolute img {
	height: 100%;
	width: 100%;
}

/* Chip animation */

@keyframes moveUp {
  
  from {
    bottom: -65vh;
  }

  to {
    bottom: 0;
  }

}

.animation-chip {
  animation-name: moveUp;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: normal; 
}

/*---------------*/