.chip {
	height: 20%; /*100%*/
	width: 100%; /*20%*/
}

.chip-relative {
	position: relative;
	float: left;
	text-align: center;
}

.chip h3 {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	top: 30%;
}

.amount {
	left: 80%;
}