$fraction: 2/3;

.holder-buttons {
	position: absolute;
	height: 400px * $fraction; /* 100 px vertical*/
	width: 300px * $fraction; /* 400 px horizontal*/
	bottom: 20%; 
	right: 2%;
}

.holder-buttons button {
	position: relative;
	height: 40%; /* 100% vertical */
	width: 100%; /* 40% vertical */
	float: left;
	text-align: center;
	font-size: 40px;
}