$fraction: 2/3;

.card {
	position: absolute;
	top: 0;
	left: 0;
	border: black solid 1px;
	border-radius: 5%;
	width: 250px * $fraction; /*250px*/
	height: 350px * $fraction; /*350px*/
	background: white;
	z-index: 1;
}

.card img {
	height: 236px * $fraction;
	width: 146px * $fraction;
}

.number, .symbol {
	position: absolute;
	font-size: 35px * $fraction;
	font-family: Serif, "Times New Roman";
	text-align: center;
	color: black;
}

.top-number, .top-symbol {
	top: 2.85714285714%; /*10px;*/
	left: 2%; /*5px;*/
}

.bottom-number, .bottom-symbol {
	bottom: 2.85714285714%; /*10px vertical*/
	right: 2%; /*5px;*/
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.top-symbol {
	top: 11.4285714286%; /*40px vertical*/
}

.bottom-symbol {
	bottom: 11.4285714286%; /*40px vertical*/
}

.symbol {
	font-size: 50px * $fraction;
}

.center-symbol {
	position: absolute;
	font-size: 70px * $fraction;
}

.heart *, .diamond * {
	color: red;
}

.heart>.top-symbol, .heart>.bottom-symbol {
	font-size: 45px * $fraction;
}

.club>.top-symbol, .club>.bottom-symbol {
	font-size: 40px * $fraction;
}

.heart .center-symbol {
	font-size: 65px * $fraction;
}

.club .center-symbol {
	font-size: 60px * $fraction;
}